<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Lampverket</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logga-in">
                Logga in
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ny-ansokan">
                Ny ansökan
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mina-arenden">
                Mina ärenden
            </NavLink>
        </div>
    </nav>
</div>
